@charset "utf-8";

/*
   
   Zombie Game Styles Page
   Author: Stephen Hill   
    Date: 2017-12-15 
   
   Filename: zombie_styles.css

*/

html 
{
    background-color: rgb(0, 0, 0);
}

body 
{ 
    background-color:rgb(10, 0, 0);
}

h1#intro 
{
    font-size: 2.5vw;
    color: rgb(182, 0, 0);
    font-family: 'Creepster', cursive;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 20px;
}

#entername 
{
    background-color:rgba(0, 0, 0);
    border: 1px solid black;
    font-size: 1.8vw;
    color: rgb(225, 179, 31);
    font-family: 'Sancreek', cursive;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: auto;
}

#chochochooseyou 
{
    font-size: 4em;
    color: rgb(148,0,0);
    font-family: 'Jim Nightshade', cursive;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
}

#button 
{
    background-color: rgb(211,0,0);
    border-radius: 10px; 
    font-family: 'Creepster', cursive;
    color:black;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 21px;
    margin: auto;
    cursor: pointer;
    border-color: rgb(51, 54, 57);
    width: 155px;
}
#button:hover 
{
    background-color: rgb(251,0,0);
    color: white;
}

#welcome 
{
    font-size: 1.8vw;
    color: rgb(176,0,0);
    font-family: 'Sancreek', cursive;
    font-weight: bold;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

#chodif
{
    color: rgb(251,175,0);
    font-family: 'Jim Nightshade', cursive;
    text-align: center;
    font-weight: bold;
    font-size: 54px;
    margin: auto;
}

#difficulty
{ 
    color: rgb(251,135,0);
    font-family: 'Jim Nightshade', cursive;
    text-align: center;
    font-size: 34px;
    margin: auto;
    cursor: pointer;
}
#batzom
{
    background-color: rgb(121,175,0);
    border-radius: 10px; 
    font-family: 'Creepster', cursive;
    color:black;
    text-align: center;
    display: block;
    font-size: 31px;
    margin: auto;
    cursor: pointer;
    border-color: rgb(51, 54, 57);
    width: 215px;
}

#combatArea
{
    font-size: 1.75vw;
    color: rgb(203, 0, 0);
    font-family: 'Creepster', cursive;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 20px;
}
